<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    <h1 style="width: 100%; text-align:center;">Welcome!</h1>
    {% if times == Null and color == Null: %}
        <div style="display: inline-block; align-items: center; flex-wrap: wrap;">
            <div style="display: inline-block; margin: 20px; Border: 3px solid black; width: 150px; height:150px; background-color:blue;"></div>
            <div style="display: inline-block; margin: 20px; Border: 3px solid black; width: 150px; height:150px; background-color:blue;"></div>
            <div style="display: inline-block; margin: 20px; Border: 3px solid black; width: 150px; height:150px; background-color:blue;"></div>
        </div>

    {% elif times != Null and color == Null: %}
    <div style="display: inline block; align-items: center; flex-wrap: wrap;">
        {% for x in range(0,times): %}
            <div style="display: inline-block; margin: 20px; Border: 3px solid black; width: 150px; height:150px; background-color:blue;"></div>
        {% endfor %}

    {% else: %}
    <div style="display: inline block; align-items: center; flex-wrap: wrap;">
        {% for x in range(0,times) %}
        <div style="display: inline-block; margin: 20px; Border: 3px solid black; width: 150px; height:150px; background-color: {{color}};"></div>
        {% endfor %}
    </div>
    {% endif %}

</body>
</html>